@{
    ViewData["Title"] = "Pagina Principal - Sistema Academico";
}

<div class="text-center">
    <h1 class="display-4">Sistema de Gerenciamento Academico - 2025</h1>
    <p>Saiba mais em <a href="https://youtube.com/playlist?list=PLv5JFZusJ00PrYqK0VUOwCzxzBIZGI1S3&si=pa1oYzYcuvEsJH71" target="_blank">video aulas sobre conceitos de C#</a>.</p>
</div>
